{{extend 'layout.html'}}

<div id='info'>
    <div class='textColumn'>
        <p>
            Among other things, I'm a computer science student at the University of Washington in
            Seattle. I spend a fair amount of time thinking about the future, my own and the world's. My
            guess is that computer technologies are going to play a big role in both. So in addition to
            thinking, I spend a lot of getting better at building things. 
        </p>

        <p> 
            Time spent outdoors is time well spent. I took the picture of the mountain at the top of the page
            while completing the Wonderland Trail around Mt. Rainier. It's perhaps the most beautiful
            place I've ever been. People have their best thoughts when up high on a mountain
            trail.
        </p>

        <p>
            I like meeting people. </br>
            Send me an email at
            <strong>gregbglw@gmail.com</strong>.
        </p>
    </div>

    <img src='../static/images/profile.JPG' alt='A picture of me, Greg Bigelow.'/>
</div>
